<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Usuario</title>
</head>
<body>

	<h1>Epic Task</h1>
	
	<h2>Novo Usuario</h2>
	
	<form action="/user" method="post" th:object="${user}">
		<label for="name">Nome</label>
		<input id="name" name="name" th:field="*{name}">
		<span th:errors="*{name}"></span>
		
		<label for="email">Email</label>
		<input type="email" id="email" name="email" th:field="*{email}">
		<span th:errors="*{email}"></span>
		
		<label for="password">Senha</label>
		<input type="password" id="password" name="password" th:field="*{password}">
		<span th:errors="*{password}"></span>
		
		<a href="/user">Cancelar</a>
		<button>Salvar</button>
	</form>

</body>
</html>